* {
    box-sizing: border-box;
}

#canvas {
    border: 1px solid black;
    position: relative;
    box-sizing: content-box;
}

svg .line {
    fill: transparent;
    stroke: black;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin:round;
}

svg .grid-line {
    stroke: lightgray;
    stroke-width: 0.5px;
}

svg .switch-blob {
    stroke: black;
    fill: white;
}

svg .switch-blob:hover {
    fill: black;
}

svg .text {
    font-size: 4px;
    font-family: monospace;
}

svg .signal {
    stroke: black;
    stroke-linecap: round;
}

svg .signal.red {
    fill: red;
}

svg .signal.green {
    fill: green;
}

button:hover,
svg .signal:hover,
svg .switch-blob:hover {
    cursor: pointer;
}