* {
    box-sizing: border-box;
    font-family: sans-serif;
}

#canvas {
    border: 1px solid black;
    position: relative;
    box-sizing: content-box;
}

samp {
    font-family: monospace;
}

svg .train {
    stroke: black;
    fill: red;
}

svg .line {
    fill: transparent;
    stroke: black;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin:round;
}

svg .grid-line {
    stroke: #f0f0f0;
    stroke-width: 0.5px;
}

svg .switch-blob {
    stroke: black;
    fill: white;
}

svg .switch-blob:hover {
    fill: black;
}

svg .text {
    font-size: 4px;
    font-family: monospace;
}

svg .signal {
    stroke: black;
    stroke-linecap: round;
}

svg .signal.red {
    fill: #ff0000;
}

svg .signal.green {
    fill: #00c000;
}

svg .rectangle {
    fill: none;
    stroke: red;
}

button:hover,
svg .signal:hover,
svg .switch-blob:hover {
    cursor: pointer;
}

td, th {
    border: 1px solid;
    padding: 2px;
}