* {
    box-sizing: border-box;
}

#canvas {
    border: 1px solid black;
    position: relative;
    box-sizing: content-box;
}

.tile {
    width: 72px;
    height: 72px;
    position: absolute;
    box-sizing: content-box;
    border: dotted 1px lightgray;
}

svg .line {
    stroke: black;
    stroke-width: 2px;
    stroke-linecap: round;
}

svg .switch-blob {
    stroke: transparent;
    fill: transparent;
}

svg .switch-blob:hover {
    fill: black;
}

svg .signal {
    stroke: black;
    stroke-linecap: round;
}

svg .signal.red {
    fill: red;
}

svg .signal.green {
    fill: green;
}

button:hover,
svg .signal:hover,
svg .switch-blob:hover {
    cursor: pointer;
}